* {
  padding: 0;
  margin: 0;
}

#main {
  background-color: #e7eaf6;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game{
  position: relative;
}

#gameboard_container {
  margin-top: 12vh;
  height: min(60vh, 60vw);
  width: min(60vh, 60vw);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  position: relative;
  z-index: 1;
}

#gameboard_container > div {
  height: auto;
  width: auto;
  border: #113f67 1.5px solid;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #a2a8d3;
}

#gameboard_container > .victory-tile {
  background-color: #11d479;
}

#gameboard_container > div:active {
  background-color: #a2a8d3;
  box-shadow: inset 4px 4px 12px #a2a8d3, inset -4px -4px 12px #38598b;
}

#landing_page,
#winner_screen {
  background-image: url("");
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  z-index: -1;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #113f67;
}

#winner_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  gap: 2rem;
}

#winner_screen > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#landing_page form {
  background-color: #a2a8d3;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 17rem;
  width: 30rem;
  border: 2.5px black solid;
  border-radius: 1rem;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

#landing_page form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

#landing_page form > div > input[type="text"] {
  width: inherit;
  font-size: 2rem;
  background-color: #e7eaf6;
  border-radius: 15px;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  text-align: center;
  transition: 300ms ease-in-out;
}

input[type="text"]:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

/* for chrome, mozilla, and opera browsers */
#landing_page form > div > input[type="text"]::placeholder {
  text-align: center;
}

/* for internet explorer and microsoft edge */
#landing_page form > div > input[type="text"]:-ms-input-placeholder {
  text-align: center;
}

.active {
  z-index: 10 !important;
}

.header {
  position: relative;
  top: 0;

  height: 15vh;
  width: 100vw;
  background-color: #a2a8d3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #113f67;
}

.header #page_heading {
  font-size: 12vh;
}

.header .player_turn {
  position: absolute;
  font-size: 6vh;
  left: 75%;
}

button {
  width: 200px;
  font-size: 1.5rem;
  color: #113f67;
  background-image: linear-gradient(135deg, #d0d7f3 40%, #b3d2ee);
  border-radius: 0.5rem;
  transition: all .3s;
  box-shadow: 6px 6px 12px, -6px -6px 12px;
  cursor: pointer;
}

.button:hover {
  transition: 0.4s;
  border: 2px dashed black;
  color: #11d479;
}

.button:active {
  background-color: #a2a8d3;
  box-shadow: inset 4px 4px 12px #a2a8d3, inset -4px -4px 12px #38598b;
}

form button {
  margin-top: 20px;
}

/* Extra small devices (phones, 768px and down) */
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
    width: 100vw;
    color: #113f67;
  }

  .header #page_heading {
    height: 7vh;
    font-size: 8vh;
    color: #113f67;
  }
  
  .header .player_turn {
    position: unset;
    font-size: 5vh;
    color: #113f67;
  }

  #landing_page #winner_screen {
    color: #113f67;
  }

  #landing_page form{
    height: 19rem;
    width: 22rem;
  }

  #landing_page form div {
    gap: 1rem;
  }

  #winner_screen {
    font-size: 3rem;
  }

  #winner_screen > div {
    display: flex;
    flex-direction: column;
  }
}

/* for very small screen devices (Galaxy Fold )*/
@media screen and (max-width: 320px) {
  #landing_page form {
    width: 20rem;
  }

  #landing_page form div {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 426px) {
  #gameboard_container {
     height: 15rem;
     width: 15rem;
  }
}

@keyframes horizontal {
  from {background-position: right;}
  to {background-position: left;}
}
@keyframes vertical {
  from {background-position: bottom;}
  to {background-position: top;}
}
@keyframes diagonal {
  from {background-position: top;}
  to {background-position: bottom;}
}

/* For testing the line-crossing animation */
/* #line {
    position: absolute;
    height: 4px;
    width: 48vh;
    transform: translateX(6vh) translateY(62vh);
    background: linear-gradient(90deg, black 0%, black 50%, transparent 51%, transparent 100%); background-size: 200% 100%; animation: example 2s;
    z-index: 2;
} */