* {
  padding: 0;
  margin: 0;
}

/* first color = #e7eaf6
second color = #a2a8d3
third color = #38598b
fourth color = #113f67 */

#main {
  background-color: #e7eaf6;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameboard_container {
  margin-top: 12vh;
  height: min(60vh, 60vw);
  width: min(60vh, 60vw);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  position: relative;
  z-index: 1;
}

#gameboard_container > div {
  height: auto;
  width: auto;
  border: #113f67 1.5px solid;
  border-radius: 1rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  background-color: #a2a8d3;
}

#gameboard_container > div > div {
  font-size: min(15vh,15vw);
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #113f67;
}

#landing_page,
#winner_screen {
  background-image: url("");
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  z-index: -1;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #113f67;
}

#winner_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  gap: 2rem;
}

#winner_screen > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#winner_screen > button {
  background-color: #e7eaf6;
}

#landing_page form {
  background-color: #a2a8d3;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  border: 2.5px black solid;
  border-radius: 1rem;
  gap: 1rem;
  padding: 2rem;
}

#landing_page form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

#landing_page form > div > input[type="text"] {
  font-size: 2rem;
  width: 300px;
  background-color: #e7eaf6;
}

#landing_page form > #submission_button {
  background-color: #e7eaf6;
  color: #113f67;
}

.active {
  z-index: 10 !important;
}

.header {
  position: relative;
  top: 0;

  height: 15vh;
  width: 100vw;
  background-color: #a2a8d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header #page_heading {
  font-size: 12vh;
}

.header .player_turn {
  position: absolute;
  font-size: 6vh;
  left: 75%;
}

button {
  width: 200px;
  font-size: 1.5rem;
}

form button {
  margin-top: 20px;
}

#replayButton #switchSideButton {
  color: #113f67;
  background-color: #e7eaf6;
}

@media screen and (max-width: 2000px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
    width: 100vw;
    color: #113f67;
  }

  .header #page_heading {
    height: 7vh;
    font-size: 8vh;
    color: #113f67;
  }
  
  .header .player_turn {
    position: unset;
    font-size: 5vh;
    color: #113f67;
  }
  #landing_page #winner_screen {
    color: #113f67;
  }
}
